#b {background-color: cornflowerblue;}
 
        #t {border: solid coral 5px ;
        margin: 100px 100px 150px ;
        font-size: 40px;
        text-align: center;}

        #text {padding: 90px;
        color: darkgreen;
        font-size: 30px;}

        #boton{border-radius: 30px;
        margin-left: 850px;
    font-size: 50px;
color: cyan;}

    #texxt {padding: 90px;
        color: darkgreen;
        font-size: 30px;}

    
